/* Main Page CSS Goes Here */
html
{
	background-color: black;
}


.menu
{
	position: fixed;
	width: 100%;
	top:0;
	z-index: 2;
}

#main
{
	width: 100%;
	height: 400px;
	margin-top:0px;

}


.grid 
{
	margin: auto;
	
}



/* Slidr CSS Goes Here */

#slidr-home-demo>div
 {
    line-height: 285px;
    width: 100%;
    height: 500px;
    text-align: center;
    font-size: 100px;
    font-weight: 400;
    letter-spacing: -3px;
    display: none;
    color: white;
}

#slidr-home-demo
{
    width: 100%;
    height: 500px;
    margin: 0 auto;
}

#slidr-home-demo>div 
{
    line-height: 285px;
    width: 100%;
    height: 300px;
    text-align: center;
    font-size: 100px;
    font-weight: 400;
    letter-spacing: -3px;
    display: none;
    color: white;
 }

.demo-slides div {width:100%; padding: 20px;}